@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.formulario {
  min-height: 80vh;
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  position: relative;
  background-color: #f7f0f03f;
  border: 2px solid #b4b4b4;
  border-radius: 4%;
  -webkit-border-radius: 4%;
  -moz-border-radius: 4%;
  -ms-border-radius: 4%;
  -o-border-radius: 4%;
}

.title {
  text-align: center;
  margin-top: 0;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 20%;
}


/*
.dark,
.day {
  height: 3vh;
}

.switch {
  height: 4.4vh;
  background: #343d5b;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  position: absolute;
  width: 6vh;
  height: 6vh;
  background: #f1f1f1;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  top: 0;
  left: 0;
  right: unset;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.switch:active {
  background-color: orange;
}

.switch:active::after {
  right: 0;
  left: unset;
} */

.input,
.label,
.submit {
  display: block;
  width: 90%;
  font-size: 1.3em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.input {
  padding: 4%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 12%;
  background: transparent;
}

.input:focus {
  outline: 2px solid hsla(226, 100%, 61%, 0.726);
}

.input:focus+.label {
  margin-top: -30%;
}

.label {
  padding-left: 14px;
  position: absolute;
  margin-top: -20%;
  z-index: -20;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.containerButton {
  display: flex;
  justify-content: center;
}

.submit {
  background: #819eff;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  width: 60%;
  text-decoration: none;
  text-align: center;
}

.submit:hover {
  background: #3866ff;
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.685);
}

.fijar {
  margin-top: -30%;
}

.containerImgForm {
  display: flex;
  justify-content: center;
  min-height: 70%;
}

.imgForm {
  height: 30vh;
}


@media screen and (max-width:400px) {
  .label {
    margin-top: -21%;
  }

  .input:focus+.label {
    margin-top: -34%;
  }

  .fijar {
    margin-top: -34%;
  }
}